body, html{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  height: 100%;
  padding-bottom: 50px;
  font-weight: bold;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/07/e7/28/07e7280609f352fe8cf8c1b908621087.jpg");
  background-size: cover;
 }

input{
  border-radius: 10px;
}

p{
  font-size: 14px;
  font-weight: lighter;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

h4{
  font-weight: bold;
}

li{
  font-size: 16px;
  font-weight: lighter;
}

.sml{
  background-color: #90bab8;
  border-radius: 10px;
}

.header{
  border:5px solid #BA9092;
  background-color: #F5F2EE;
  text-align: center;
}

.jumbotron{
  height: 65%;
  padding-top: 10px;
  background-image: url("http://1942design.com/graphics/paper.jpg");
  background-size: cover;

}

.container{
  float:left;
  height: 100%;
  width: 100%;
}

.all-pack{
  width: 100%
}

.trip-activity-form{
  margin-left: 100px;
  float: left;
}


.trip-form{
  float:left;
}

.tiny{
  font-size: 12px;
}

.row{
  float: left;
  width: 100%;
}

.center{
  text-align: center;
  font-weight: bold;
}

.packing-div{
  clear: left;
  float: left;
  width: 100%;
  background-image: url("http://www.zingerbugimages.com/backgrounds/beige_parchment_paper_background_1800x1600.jpg");
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trip-deets{
  padding: 1px;
}

.columns{
  -webkit-columns: 5 200px;
   -moz-columns: 5 200px;
        columns: 5 200px;
}

.add-item-div{
  float: left;
  width: 25%
}

.weather-info{
  padding-left: 10px;
  padding-bottom: 15px;
}

.delete-click{
  margin-left: 10px;
  vertical-align: text-top;
}

.submit{
  font-size: 16px;
  background-color: white
}

.invis{
  display: none;
}

.quantity-btn{
  text-align: center;
  width: 37px;
  border-radius: 10px;
}

.clear-input{
  background-color: #E8E0D5;
}

.checked{
  text-decoration: line-through;
}

.footer{
  background-color: #FAE0AF;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  bottom: 0;
  left: 0;
  height: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
}
